.main_nav {
	
	padding: 15px 0;
	.tagline {
		font-size: 1.2em;
		margin-top: 16px;
	}
	@media screen and (max-width: $responsive-md) {
		
		.tagline {
			margin-top: 12px;
		}
	}
	@media screen and (max-width: $responsive-sm) {
		
		.tagline {
			margin-top: 16px;
		}
	}
	@media screen and (max-width: $responsive-xs) {
		
		.tagline {
			margin-top: 10px;
		}
	}
}